::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(104,140,240,0.3); 
}

::-webkit-scrollbar-thumb {
    background-color: lightslategray;
    outline: 1px solid slategrey;
}